
<footer style="background:#3B3B3B; color: white">
        <div class="container-fluid padding">
            <div class="row text-center padding justify-content-center">
                
                    <div class="col-md-4" id="links">
                            <a href="#"> <i class="fas fa-image"></i> Gallary</a>
                            <a href="#"><i class="fas fa-wrench"></i> Updates</a>
                            <a href="#"><i class="fab fa-github"></i> GitHub projects</a>
                            <a href="#"><i class="fas fa-code-branch"></i> Old Virsion</a>
                        </div>
                        <div class="col-md-1"></div>
                     
                        <div class="col-xs-12" style="margin-top: 20px">
                                
                                <img src="../../static/assets/pepe.jpg" width="300" height="150">
                                <hr width="300px;" style="background: white">
                                <p class="lead"><i class="fas fa-phone-alt"></i> 011500000000</p>
                                <p class="lead"><a href = "mailto: tazosama33@gmail.com"><i class="fas fa-envelope-open" style="color: white"></i> tazosama33@gmail.com</a></p>
                                <p class="lead">FAQ</p>
                        </div>
                        <div class="col-md-2"></div>
                        <div class="col-xs-12">
                                    <h2 class="display-4"><i class="fas fa-map-marker-alt"></i> Meet us</h2>
                                    <hr width="300px;" style="background: white">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.2387970717514!2d30.941703315458398!3d29.97256652891877!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145856f78386e6a9%3A0x5024fd9866839e3d!2sAl-Hosary%20Mosque!5e0!3m2!1sen!2seg!4v1567851052430!5m2!1sen!2seg" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        </div>
                </div>
        </div>
     </footer>